.footer {
  position: fixed;
  background-color: #333;
  color: white;
  min-width: 100%;
  font-size: 1rem;
  bottom: 0;
  display: none;
}
.footer-links {
  display: flex;
  gap: 0.8rem;
}
.footer-link {
  text-decoration: none;
  color: white;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
